@{
    ViewData["Title"] = "Doação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ECJ_Compras.Dto.DoacaoDto
<head>
    <link rel="stylesheet" href="~/css/doacao.css" />
    <style>
        .titulo {
            display: flex;
            height: 120px;
            align-items: center;
            justify-content: center;
        }

        .principal {
            display: block;
            width: 85%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,0)
        }

        .card {
            background-color: goldenrod;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.5) !important;
        }

        .form-row {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
            justify-content: space-between;
        }

            .form-row > .col, .form-row > [class*=col-] {
                display: flex;
                padding-right: 5px;
                padding-left: 5px;
                align-items: center;
            }

        .form-label {
            font-size: 20px;
            margin-right: 8px;
            margin-bottom: 0;
        }

        .div-tabela {
            width: 80%;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .table {
            margin: 0;
            border: solid;
        }

    </style>
</head>

<div class="text-center">
    <div class="titulo">
        <h1>Doação</h1>
    </div>
    <div>
        <div class="principal">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                    <form action="InserirDoacao" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(d=>d.EquipePessoa,"Equipe", new{@class="form-label"})
                                <select class="form-select" id="equipePessoa" name="EquipePessoa" required>
                                    <option value="">Selecione uma equipe</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                @Html.LabelFor(d=>d.NomePessoa,"Nome", new{@class="form-label"})
                                <select class="form-select" id="nomePessoa" name="NomePessoa" required>
                                    <option value="">Selecione um integrante</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(d=>d.CategoriaProduto,"Categoria", new{@class="form-label"})
                                <select class="form-select" id="categoriaProduto" name="CategoriaProduto" required>
                                    <option value="">Selecione um produto</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(d=>d.QuantidadeProduto,"Quantidade", new{@class="form-label"})
                                @Html.TextBoxFor(d=>d.QuantidadeProduto,"", new{@class="form-control"})
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(d=>d.UnidadeProduto,"Unidade", new{@class="form-label"})
                                @Html.TextBoxFor(d=>d.UnidadeProduto,"", new{@class="form-control",@readonly=true})
                            </div>
                        </div>
                        <div class="form-row">
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <button type="reset" onclick="limpar()" class="btn btn-light">Limpar</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body" style="padding-top: 0;">
                    <div style="display:flex; justify-content:center; align-items:center; height: 80px;">
                        <h1 style="margin:0;">Doações</h1>
                    </div>
                    <div class="div-tabela">
                        <table class="table table-light table-hover">
                            <thead>
                                <tr>
                                    <th hidden="hidden"></th>
                                    <th>Nome</th>
                                    <th>Equipe</th>
                                    <th>Data</th>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Unidade</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.ListaDoacao != null)
                                    {
                                        foreach (var doacao in ViewBag.ListaDoacao)
                                        {
                                            <tr>
                                                <td hidden="hidden">@doacao.Id</td>
                                                <td>@doacao.Pessoa.Nome</td>
                                                <td>@doacao.Pessoa.Equipe</td>
                                                <td>@doacao.Data</td>
                                                <td>@doacao.Produto.Categoria</td>
                                                <td>@doacao.Produto.Quantidade</td>
                                                <td>@doacao.Produto.Unidade</td>
                                                <td>
                                                    <a href="/Docao/DeletarDoacao/@doacao.Id">
                                                        <i class="fas fa-times-circle" style="color: red;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        <span id="tabela-count" hidden="hidden">@ViewBag.TabelaCount</span>
                        <nav aria-label="Navegação de página exemplo">
                            <ul id="pagination" class="pagination justify-content-end pagination-sm">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/doacao.js"></script>
    <script>
        $(document).ready(function () {

            let paginationElement = document.getElementById('pagination');
            let tabelaCount = $("#tabela-count")[0];
            let tabelaCountValor = parseInt(tabelaCount.innerText);
            let itemsPerPage = 5;
            let totalPages = Math.ceil(tabelaCountValor / itemsPerPage);
            let currentPage = 1;
            if (document.URL.includes("?page=")) {
                currentPage = parseInt(document.URL.replace("#", "").substring(document.URL.lastIndexOf("=") + 1))
            }
            function updatePagination() {
                paginationElement.innerHTML = "";

                let startPage = Math.max(1, currentPage - 1);
                let endPage = Math.min(totalPages, currentPage + 1);

                for (let i = startPage; i <= endPage; i++) {
                    let li = document.createElement("li");
                    let a = document.createElement("a");
                    a.className = "page-link";
                    a.textContent = i;

                    if (document.URL.includes("Entrada?")) {
                        a.href = "?page=" + i;
                    } else {
                        a.href = "Entrada?page=" + i;
                    }

                    if (i === currentPage) {
                        li.className = "active";
                    }

                    li.appendChild(a);
                    paginationElement.appendChild(li);
                }

                if (currentPage > 1) {
                    let prevLi = document.createElement("li");
                    let prevLink = document.createElement("a");
                    prevLink.className = "page-link";
                    prevLink.textContent = "Anterior";
                    prevLink.href = "#"; // Define a ação para voltar a página anterior
                    prevLi.appendChild(prevLink);
                    paginationElement.insertBefore(prevLi, paginationElement.firstChild);
                }

                if (currentPage < totalPages) {
                    let nextLi = document.createElement("li");
                    let nextLink = document.createElement("a");
                    nextLink.className = "page-link";
                    nextLink.textContent = "Próximo";
                    nextLink.href = "#"; // Define a ação para avançar para a próxima página
                    nextLi.appendChild(nextLink);
                    paginationElement.appendChild(nextLi);
                }
            }

            updatePagination();

            paginationElement.addEventListener("click", function (event) {
                if (event.target.textContent === "Anterior") {
                    currentPage = Math.max(1, currentPage - 1);
                } else if (event.target.textContent === "Próximo") {
                    currentPage = Math.min(totalPages, currentPage + 1);
                } else {
                    currentPage = parseInt(event.target.textContent);
                }

                updatePagination();
                // Aqui você pode adicionar lógica para carregar os dados da página selecionada
            });
        });
    </script>
